.project
/nbproject/
/.vscode/
.directory
/*/.gitignore
.git
.gitattributes
.dockerignore
.sass-cache
/_tmp/
/.docker
/.docker/.data
/.docker/root
Dockerfile

writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*
writable/Modules/*